html{
    font-size: 16px;
}

:root{
    --black:#111517;
    --white:#fff;
    --background-light:#fafafa;
}
body{
    background: var(--background-light);
    font-family: 'Nunito Sans', sans-serif;
    color:var(--black);
}